.search_input{
	
}


@media screen and (min-width: 767px) {
	.search_container{
		margin-left:30px;
		margin-top:90px;
	}

	.each_res{
		margin-top:20px;

 		display:flex;
 		flex-direction: row;
	}

	.search_res{
		padding:20px;
		float:left;
	}

	.each_res img{
 		width:100px;
 		height:100px;
	}

	.comment_search{
		width:600px;
		margin-left:20px;
		display: flex;
    	flex-direction: column;
	}

	.comment_search span{
		line-height: 3;
		font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	}
}

@media screen and (max-width: 767px) {
	.search_container{
		margin-left:10px;
		margin-top:120px;
	}
}

