<!DOCTYPE html>
<html>
<head>
	<title>首页</title>
	<meta charset="utf-8">
</head>
<body>
<form method="post" action="__APP__/user/signin">
	账号/邮箱：<input type="text" name="username">
	密码：<input type="password" name="pwd">
	<input type="submit" value="提交">
</form>

<br>
<form method="post" action="__APP__/user/signup">
	邮箱：<input type="text" name="email">
	账号：<input type="text" name="username">
	密码：<input type="password" name="pwd">
	<p>{$err}</p>
	<input type="submit" value="提交">
</form>


</body>
</html>