<!DOCTYPE html>
<html>
<head>
	<title>星图 | 分享的照片</title>
	<script type="text/javascript" src="__PUBLIC__/lib/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/lib/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/lib/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/show_photo.css">
	<link href="__PUBLIC__/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="go-back">
	<present name="Think.session.userid">
		<a href="__APP__/User"><i class="fa fa-2x fa-arrow-left">用户中心</i></a>
	<else /> 
		<a href="__APP__/Index"><i class="fa fa-2x fa-arrow-left">首页</i></a>
	</present>
</div>
<div class="show_photo_container">
	
	

	<a href="#"><i class="fa fa-3x fa-chevron-left"></i></a>
		<img id="photo"  src="__PH__/{$url}">
		<!-- <img id="photo" src="__PH__/{$username}/{$photo.filename}" > -->
	<a href="#"><i class="fa fa-3x fa-chevron-right"></i></a>
	<div class="btn-group-vertical" id="show_photo_control_panel">
		
	    <button type="button" class="btn btn-default btn-lg"><a href="#edit-comment">评论</a> </button>
	    <div class="btn-group-vertical">
		    <button type="button" class="btn btn-default dropdown-toggle btn-lg" data-toggle="dropdown">
		        分享
		        <span class="caret"></span>
		    </button>
			    <ul class="nav nav-pills dropdown-menu" class="jiathis_style_32x32">
 			        <!-- <li>
						<a class="jiathis_button_qzone share-logo"></a>
			        </li> --> 
			        <li>
						<a class="jiathis_button_cqq share-logo">
							<img style="margin-left: -88px;margin-top: -68px" src="__PUBLIC__/img/share-logo.png">
						</a>
			        </li>
			        <li>
						<a class="jiathis_button_weixin share-logo">
							<img style="margin-left: -123px;margin-top: -68px" src="__PUBLIC__/img/share-logo.png">
						</a>
					</li>
					<li>
						<a class="jiathis_button_tsina share-logo">
							<img style="margin-left: -20px;margin-top: -68px" src="__PUBLIC__/img/share-logo.png">
						</a>
					</li>
					<!-- <a class="jiathis_counter_style"></a> -->
			    </ul>

	    </div>
	</div>
</div>

<div id="comment-container" class="show_photo_comment">
	<!-- <div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				用户1的评论
			</h3>
		</div>
		<div class="panel-body">
			评论1
		</div>
	</div> -->
</div>

<div id="edit-comment">
	<div style="padding: 0;margin-bottom: 10px;" class="col-xs-2">
		<input type="text" name="" id="user-name" class="form-control"  placeholder="尊姓大名"/>
	</div>
	<textarea id="comment-text" style="width: 100%;height: 100px;border-radius: 4px" placeholder="我有话说..."></textarea>
	<input type="button" class="btn btn-default" name="" id="submite-comment" value="发表" />
</div>
<!-- JiaThis Button BEGIN -->
<script type="text/javascript" >
var jiathis_config={
	summary:"",
	shortUrl:false,
	hideMore:false
}
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
<!-- JiaThis Button END -->


<script type="text/javascript">
	var pid = {$id};
	var sid = {$sid};
	var uid = "{$Think.session.userid}";

	$.get('__APP__/Api/getComment/',{"pid":pid},function(res){
		for (var i = 0; i <res.length; i++) {
			var name = res[i].guestname;
			var text = res[i].content;
			var time = res[i].addtime;
			$('#comment-container').append('<div class="panel panel-default"> <div class="panel-heading"> <h3 class="panel-title"> '+name+' </h3> </div> <div class="panel-body">'+text+'</div> </div>')
		}
	});
	$('#submite-comment').click(function(){
		var text = $('#comment-text').val();
		var user = $('#user-name').val();

		$.get('__APP__/Api/setComment',{"pid":pid,"name":user,"content":text,"sid":sid },function(res){

			console.log(res);
			location.reload();
		})
	});

	$.get("__APP__/Api/setNoticeread",{sid:sid});


</script>



</body>
</html>



