<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>jQuery支持触摸屏3D旋转木马特效</title>
<link rel="stylesheet" href="css/demo.css">
<link rel="stylesheet" href="css/jquery.flipster.css">
<link rel="stylesheet" href="css/flipsternavtabs.css">
</head>
<body>

<!-- 代码部分begin -->
<div class="flipster">
	<ul>
		<li>
			<div class="Button Block">
				<img id="img0" src="img/3.jpg">
			</div>
		</li>
		<li>
			<div class="Button Block">
				<img id="img1"  src="img/4.jpg">
			</div>
		</li>
		<li>
			<div class="Button Block">
				<img id="img2"  src="img/5.jpg">
			</div>
		</li>
		<li>
			<div class="Button Block">
				<img id="img3"  src="img/1.jpg">
			</div>
		</li>
		<li>
			<div class="Button Block">
				<img id="img4"  src="img/2.jpg">
			</div>
		</li>
  	</ul>
</div>
<script src="js/jquery-1.8.3.min.js"></script>
<script src="js/jquery.flipster.js"></script>
<script>
$(function(){ 
	var picList = [0,1,2,3,4];
	var pics = ['img/1.jpg','img/2.jpg','img/3.jpg','img/4.jpg','img/5.jpg','img/6.jpg','img/7.png','img/8.jpg']
	$(".flipster").flipster({ 
		style: 'carousel', 
		start: 0 
	}); 
	var olddom,newdom = 0;
	$('.flipster').find('li').click(function(){
		olddom = newdom;
		newdom = $('.flipster').find('li').index(this);
	    switch(newdom-olddom){
	    	case 0 :
	    		//console.log('点的是中间')
	    		return;
	    		break;
	    	case 1:
	    	case -4:
	    		$('#img' + (parseInt($(this).find('img')[0].id.slice(3))+2)%5)[0].src = pics[(picList[4]+1)%pics.length];
	    		picList = picList.map(function(x){
	    			return ++x;
	    		});
	    		break;

	    	case 2:
	    	case -3:
	    		//console.log('左移2')
	    		$('#img' + (parseInt($(this).find('img')[0].id.slice(3))+1)%5)[0].src = pics[(picList[4]+1)%pics.length];
	    		$('#img' + (parseInt($(this).find('img')[0].id.slice(3))+2)%5)[0].src = pics[(picList[4]+2)%pics.length];
	    		picList = picList.map(function(x){
	    			x = x+2;
	    			return x;
	    		});
	    		break;
	    	case 3:
	    	case -2:
	    		//console.log('右移2')
	    		$('#img' + (parseInt($(this).find('img')[0].id.slice(3))+3)%5)[0].src = pics[(picList[0]-2+pics.length*100)%pics.length];
	    		$('#img' + (parseInt($(this).find('img')[0].id.slice(3))+4)%5)[0].src = pics[(picList[0]-1+pics.length*100)%pics.length];
	    		picList = picList.map(function(x){
	    			x = x-2;
	    			return x;
	    		});
	    		break;
	    	case 4 :
	    	case -1:
	    		//console.log('右移1')
	    		$('#img' + (parseInt($(this).find('img')[0].id.slice(3))+4)%5)[0].src = pics[(picList[0]-1+pics.length*100)%pics.length];
	    		picList = picList.map(function(x){
	    			return --x;
	    		});
	    		break;
	    	
	    }
	    //console.log(picList)=
	    console.log($(this).find('img')[0].id.slice(3))
	    for(var i=0;i<5;i++){
	    	//console.log($(this).find('img')[0].src)
	    	//$(this).find('img')[0].src = pics[i+picList[i]];
	    }
	})

});


</script>
<!-- 代码部分end -->

</body>
</html>