<extend name="public:template" />

<block name="main">


<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    我的相册
                </h3>
                
            </div>
        </div>
        <!-- /.row -->

        <div class="row album">
            <div class="col-lg-12 col-md-12 ">

		<volist name='albums' id='vo'>
	                <div class="img">
	                    <label>
	                        <img src="http://www.sucaitianxia.com/Photo/pic/200909/haiys62.jpg">
	                        <div class="">  
	                            <a href="__URL__/show_photos?id={$vo.id}"><span>{$vo.name}</span></a>
	                        </div>
	                    </label>
	                </div>
		</volist>

            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->
    <script type="text/javascript">
        var username = {$username};
        console.log({$photos});
    </script>

<!--         <volist name='photos' id='vo'>
            <img src="__PH__/{$username}/{$vo.filename}" style="width:100px;height:100px">
        </volist> -->

</block>