<extend name="public:template" />

<block name="main">


<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    我的相册
                </h3>
                
            </div>
        </div>
        <!-- /.row -->

        <div class="row album">
            <div class="col-lg-12 col-md-12 ">

		<volist name='albums' id='vo'>
	                <div class="img">
	                    <label>
	                        <img src="http://www.sucaitianxia.com/Photo/pic/200909/haiys62.jpg">
	                        <div class="">  
	                            <a href="__URL__/show_photos?id={$vo.id}"><span>{$vo.name}</span></a>
	                        </div>
	                    </label>
	                </div>
		</volist>

            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->

    <div class="flipster">
        <ul>
            <li>
                <div class="Button Block">   
                    <img id="img0" src="">
                </div>
            </li>
            <li>
                <div class="Button Block">
                    <img id="img1"  src="">
                </div>
            </li>
            <li>
                <div class="Button Block">
                    <img id="img2"  src="">
                </div>
            </li>
            <li>
                <div class="Button Block">
                    <img id="img3"  src="">
                </div>
            </li>
            <li>
                <div class="Button Block">
                    <img id="img4"  src="">
                </div>
            </li>
        </ul>
    </div>

    <div class="gray-canvas"> 
        <i class="fa fa-fw fa-close gray-canvas-close"></i>
    </div>
    <!-- 灰色悬浮层 -->


    <script src="__PUBLIC__/lib/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="__PUBLIC__/lib/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/lib/js/jquery.flipster.js"></script>
    <script type="text/javascript">
    /* __PH__/{$username}/{$vo.filename}*/
        var username = {$username};
        var photos = {$photos};
        var photoUrl = new Array()
        photos.forEach(function(x){photoUrl.push('__PH__/'+username+'/'+x.filename)})
        console.log(photoUrl)
        //console.log( $('.flipster').find('img')[0].src);
        $('.flipster').find('img')[0].src = photoUrl[3];
        $('.flipster').find('img')[1].src = photoUrl[4];
        $('.flipster').find('img')[2].src = photoUrl[5];
        $('.flipster').find('img')[3].src = photoUrl[1];
        $('.flipster').find('img')[4].src = photoUrl[2];

        console.log(photoUrl);

        $(function(){ 
            var picList = [0,1,2,3,4];
            /*var pics = ['../public/img/1.jpg','../public/img/2.jpg','../public/img/3.jpg','../public/img/4.jpg','../public/img/5.jpg','../public/img/6.jpg','../public/img/7.png','../public/img/8.jpg']*/
            $(".flipster").flipster({ 
                style: 'carousel', 
                start: 0 
            }); 
            var olddom,newdom = 0;

            $('.gray-canvas-close').click(function(){
                 window.location.href="__URL__/test"; 
            })

            $('.flipster').find('li').click(function(){
                olddom = newdom;
                newdom = $('.flipster').find('li').index(this);
                switch(newdom-olddom){
                    case 0 :
                        //console.log('点的是中间')
                        return;
                        break;
                    case 1:
                    case -4:
                        $('#img' + (parseInt($(this).find('img')[0].id.slice(3))+2)%5)[0].src = photoUrl[(picList[4]+1)%photoUrl.length];
                        picList = picList.map(function(x){
                            return ++x;
                        });
                        break;

                    case 2:
                    case -3:
                        //console.log('左移2')
                        $('#img' + (parseInt($(this).find('img')[0].id.slice(3))+1)%5)[0].src = photoUrl[(picList[4]+1)%photoUrl.length];
                        $('#img' + (parseInt($(this).find('img')[0].id.slice(3))+2)%5)[0].src = photoUrl[(picList[4]+2)%photoUrl.length];
                        picList = picList.map(function(x){
                            x = x+2;
                            return x;
                        });
                        break;
                    case 3:
                    case -2:
                        //console.log('右移2')
                        $('#img' + (parseInt($(this).find('img')[0].id.slice(3))+3)%5)[0].src = photoUrl[(picList[0]-2+photoUrl.length*100)%photoUrl.length];
                        $('#img' + (parseInt($(this).find('img')[0].id.slice(3))+4)%5)[0].src = photoUrl[(picList[0]-1+photoUrl.length*100)%photoUrl.length];
                        picList = picList.map(function(x){
                            x = x-2;
                            return x;
                        });
                        break;
                    case 4 :
                    case -1:
                        //console.log('右移1')
                        $('#img' + (parseInt($(this).find('img')[0].id.slice(3))+4)%5)[0].src = photoUrl[(picList[0]-1+photoUrl.length*100)%photoUrl.length];
                        picList = picList.map(function(x){
                            return --x;
                        });
                        break;
                    
                }
                //console.log(picList)=
                /*console.log($(this).find('img')[0].id.slice(3))
                for(var i=0;i<5;i++){
                    //console.log($(this).find('img')[0].src)
                    //$(this).find('img')[0].src = pics[i+picList[i]];
                }*/
            })

        });
    </script>

<!--         <volist name='photos' id='vo'>
            <img src="__PH__/{$username}/{$vo.filename}" style="width:100px;height:100px">
        </volist> -->

</block>