<!DOCTYPE html>
<html>
<head>
	<title>{$username}/{$photo.filename}</title>
	<script type="text/javascript" src="__PUBLIC__/lib/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/lib/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/lib/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/show_photo.css">
	<link href="__PUBLIC__/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>
<body>

<div class="show_photo_container">
	<a href="#"><i class="fa fa-3x fa-chevron-left"></i></a>
		<img id="photo" src="__PH__/{$username}/{$photo.filename}" >
	<a href="#"><i class="fa fa-3x fa-chevron-right"></i></a>
	<div class="btn-group-vertical" id="show_photo_control_panel">
		
	    <button type="button" class="btn btn-default btn-lg">评论</button>
	    <button type="button" class="btn btn-default btn-lg">删除</button>
	    <button type="button" class="btn btn-default btn-lg">下载</button>
	    <div class="btn-group-vertical">
		    <button type="button" class="btn btn-default dropdown-toggle btn-lg" data-toggle="dropdown">
		        分享
		        <span class="caret"></span>
		    </button>
		    <ul class="nav nav-pills dropdown-menu">
		        <li>
		        	<a class="share-logo" href="#"> 
		        		<img style="margin-left: -88px;margin-top: -68px" src="__PUBLIC__/img/share-logo.png"> 
		        	</a>
		        </li>
		        <li>
		        	<a class="share-logo" href="#"> 
		        		<img style="margin-left: -123px;margin-top: -68px" src="__PUBLIC__/img/share-logo.png"> 
		        	</a>
		        </li>
		        <li>
		        	<a class="share-logo" href="#"> 
		        		<img style="margin-left: -20px;margin-top: -68px" src="__PUBLIC__/img/share-logo.png"> 
		        	</a>
		        </li>
		    </ul>
	    </div>
	</div>
</div>

<div class="show_photo_comment">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				用户1的评论
			</h3>
		</div>
		<div class="panel-body">
			评论1
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				用户2的评论
			</h3>
		</div>
		<div class="panel-body">
			评论2
		</div>
	</div>
	<ul class="pagination">
	    <li><a href="#">&laquo;</a></li>
	    <li><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">5</a></li>
	    <li><a href="#">&raquo;</a></li>
	</ul>
</div>

<!-- <link rel="stylesheet" type="text/css" href="__CSS__/test.css"> -->
{$photo.name}
<br>


<if condition="$photo.share eq 1"> 
	已经分享过了，<a href="__MODULE__/index/share?id={$sid}"> 在这里</a>
	<a>取消分享</a>
<else /> 
	<a href="__URL__/set_share?id={$photo.id}">设置分享</a>
</if>


</body>
</html>



