<extend name="public:template" />

<block name="main">

<link rel="stylesheet" type="text/css" href="__CSS__/show_photo.css">


<div class="show_photo_container">
	<a href="#"><i class="fa fa-3x fa-chevron-left"></i></a>
		<img id="photo" src="__PH__/{$username}/{$photo.filename}" >
	<a href="#"><i class="fa fa-3x fa-chevron-right"></i></a>
	<div class="btn-group-vertical" id="show_photo_control_panel">
		
	    <button type="button" class="btn btn-default btn-lg">评论</button>
	    <button type="button" class="btn btn-default btn-lg">删除</button>
	    <button type="button" class="btn btn-default btn-lg"><a href="__PH__/{$username}/{$photo.filename}" download="__PH__/{$username}/{$photo.filename}">下载</a></button>
	    <button type="button" class="btn btn-default btn-lg"><a href="__URL__/set_share?id={$photo.id}">分享</a></button>
	    
	</div>
</div>

<div class="show_photo_comment">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				用户1的评论
			</h3>
		</div>
		<div class="panel-body">
			评论1
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				用户2的评论
			</h3>
		</div>
		<div class="panel-body">
			评论2
		</div>
	</div>
	<ul class="pagination">
	    <li><a href="#">&laquo;</a></li>
	    <li><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">5</a></li>
	    <li><a href="#">&raquo;</a></li>
	</ul>
</div>

</block>


